# Archivos compilados
/target/
*.class

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Archivos de configuracion del entorno
.env
*.swp

# Archivos temporales
*.tmp
*.bak

# Archivos de prueba
*.test
*.orig

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Archivos generados por Maven
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
